Content/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Darren/Face/Darren_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Darren/Face/Cooper_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Darren/Face/Cooper_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
